.form {
  position: fixed;
  bottom: 80px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
  padding: 16px var(--field-gap) 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px 14px;
}

.formLabel {
  grid-column: 1 / -1;
  font-size: 12px;
}

.formInput {
  grid-column: 1 / 4;
  border-radius: 4px;
  border: 1px solid var(--font-color);
  padding: 20px 16px;
  box-sizing: border-box;
  font-size: 14px;
}

.formBtn {
  grid-column: 4 / 6;
}

.isRepeating {
  color: var(--error-color);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  position: absolute;
  bottom: 3px;
  font-size: 12px;
  left: var(--field-gap);
}