@font-face {
  font-family: "Days One";
  src:
    url("./assets/fonts/DaysOne-Regular.ttf") format("TrueType");
}

/* TODO: style scrollbars? */

:root {
  --light-color: #FBFBFB;
  --light-bg: #D8E4FF;
  --accent-color: #E6AACE;
  --darkest: #1A237E;
  --dark-bg: #0288D1;
  --error-color: #D8E4FF;
  --big-gap: 40px;
  --middle-gap: 20px;
  --small-gap: 10px;
  --max-width: 600px;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Days One", Arial, sans-serif;
  line-height: 1.5;
  color: var(--light-font);
  background-image: linear-gradient(var(--darkest) 50%, var(--dark-bg));
  background-attachment: fixed;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: var(--big-gap) 0;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.button {
  display: block;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  padding: 17px 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  background-color: var(--light-bg);
  color: var(--darkest);
  transition: background-color 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  outline: none;
  background-color: var(--accent-color);
}

a {
  text-decoration: none;
}

h1, h2 {
  font-size: 32px;
  margin-bottom: var(--middle-gap);
  margin-top: 0;
  color: var(--accent-color);
}

h3 {
  margin-top: 0;
  margin-bottom: var(--small-gap);
  color: var(--light-color);
  font-size: 20px;
}

input {
  font-family: inherit;
  font-size: inherit;
  transition: border-color 0.2s ease-in-out;
}

input:focus {
  outline: none;
  border-bottom-color: var(--accent-color);
}

.list {
  margin: 0;
  padding: 0;
  padding-left: var(--middle-gap);
  font-size: 20px;
  line-height: 1;
  color: var(--light-color);
}

.list__item:not(:last-of-type) {
  margin-bottom: var(--middle-gap);
}

@media (max-width: 640px) {
  .container {
    margin-left: var(--middle-gap);
    margin-right: var(--middle-gap);
  }
}

@media (max-width: 400px) {
  :root {
    --big-gap: 36px;
    --middle-gap: 18px;
    --small-gap: 9px;
  }

  h1, h2 {
    font-size: 28px;
  }

  .list {
    font-size: 18px;
  }

  .button {
    font-size: 18px;
  }
}