@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat.ttf") format("TrueType");
}

/* TODO: style scrollbars? */

:root {
  --blocks-color: #E1F1FF;
  --accent-color: #247DCE;
  --accent-color-30: rgba(36, 125, 206, 0.3);
  --accent-color-50: rgba(36, 125, 206, 0.5);
  --font-color: #0D2133;
  --font-color-50: rgba(13, 33, 51, 0.5);
  --main-color: white;
  --menu-color: rgba(36, 125, 206, 0.3);
  --max-width: 600px;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  line-height: 1.2;
  color: var(--font-color);
  background-color: var(--main-color);
}

.container {
  height: 100%;
  margin: 0 auto;
  width: 95%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

button {
  display: block;
  font-family: inherit;
  border: 1px solid var(--accent-color);
  width: 100%;
  line-height: 1;
  transition: all 0.2s ease-in-out;
}

button:hover,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 0;
  font-weight: normal;
}

h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
}

input {
  font-family: inherit;
  font-size: inherit;
}